<strong>Olá {{courier}}</strong>
<p>A entrega abaixo foi cancelada, por favor desconsiderar!</p>
<p>
  <strong>Código da entrega:</strong> {{id}} <br />
  <strong>Status:</strong> Cancelada. <br />

  Para mais informações por favor entrar em contato com os admnistradores.
  <br />
</p>
