<strong>Olá {{courier}}</strong>
<p>Uma de suas entregas sofreu alteração:</p>
<p>
  <strong>Código da entrega:</strong> {{id}} <br />
  <br />

  <small>Para mais informações por favor entrar em contato com o admnistrador!</small>
</p>
